body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}
.logo img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s;
}

nav a:hover {
  color: #007BFF;
}

.card-container {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card h3 {
  margin: 0 0 10px;
  color: #333;
}


.card p {
  flex: 1;
  color: #555;
  margin-bottom: 20px;
}

.card-btn {
  align-self: flex-start;
  padding: 10px 28px;
  background: #bc0a0a;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  margin-top: 8px;
}
.card-btn:hover {
  background: #940707;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}

footer {
  background: #fff;
  padding: 15px;
  text-align: center;
}
